# Java build outputs
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear

# Next.js / Node.js
**/node_modules/
**/.next/
**/out/
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs & System files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
.DS_Store
Thumbs.db

# Temp analysis files
**/upload-*.pcap
**/filtered-*.pcap
**/temp_output.pcap
